commands:
  01-update-composer:
    command: export COMPOSER_HOME=/root && /usr/bin/composer.phar self-update

option_settings:
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: COMPOSER_HOME
    value: /root

container_commands:
  01-optimize:
    command: "/usr/bin/composer.phar dump-autoload --optimize"

files:
  "/opt/elasticbeanstalk/addons/logpublish/hooks/config/20-appconfig.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      /opt/elasticbeanstalk/bin/get-config optionsettings | jq '."aws:elasticbeanstalk:application:environment"' | jq -r 'to_entries | .[] | "\(.key)=\"\(.value)\""' > .env
      /opt/elasticbeanstalk/hooks/appdeploy/post/98_laravel_deps.sh

  "/opt/elasticbeanstalk/hooks/appdeploy/post/98_laravel_deps.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      echo "Running Artisan config cache..."
      php /var/app/current/artisan config:cache
      php /var/app/current/artisan route:cache
      php /var/app/current/artisan optimize -n

  "/opt/elasticbeanstalk/hooks/appdeploy/post/99_make_storage_writable.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      echo "Making /storage writeable..."
      chmod -R 777 /var/app/current/storage

      if [ ! -f /var/app/current/storage/logs/laravel.log ]; then
          echo "Creating /storage/logs/laravel.log..."
          touch /var/app/current/storage/logs/laravel.log
          chown webapp:webapp /var/app/current/storage/logs/laravel.log
      fi

  "/opt/elasticbeanstalk/tasks/taillogs.d/laravel-log.conf" :
    mode: "000755"
    owner: root
    group: root
    content: |
      /var/app/current/storage/logs/*.log

  "/opt/elasticbeanstalk/tasks/publishlogs.d/laravel-logs.conf":
    mode: "000755"
    owner: root
    group: root
    content: |
      /var/app/current/storage/logs/*.log
