container_commands:
  01-create-env-file:
    command: |
      /opt/elasticbeanstalk/bin/get-config --output YAML environment|perl -ne "/^\w/ or next; s/: /=/; print qq|\$_|" > .env
  02-migrate:
    #command: "php artisan migrate --force"
  03-seed:
    #command: "php artisan db:seed --force"
  #04-passport:
    #command: "php artisan passport:install"
    #command: "php artisan passport:keys"

