container_commands:
  01-create-env-file:
    command: |
      /opt/elasticbeanstalk/bin/get-config optionsettings | jq '."aws:elasticbeanstalk:application:environment"' | jq -r 'to_entries | .[] | "\(.key)=\"\(.value)\""' > .env
  #02-migrate:
    #command: "php artisan migrate --force"
  #03-seed:
    #command: "php artisan db:seed --force"
  #04-passport:
    #command: "php artisan passport:install"
    #command: "php artisan passport:keys"
